html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family-cantata;
    border: 5px solid $c-green;
}

body {
    font-family: $font-family-cantata;
    font-size: 1.6rem;
    padding: 60px 0;
}

h1 {
    font-family: $font-family-poppins;
    font-weight: 600;
}

h2 {
    font-family: $font-family-poppins;
    font-weight: 600;
    margin-bottom: 15px;
}

h3 {
    font-family: $font-family-poppins;
    font-weight: 600;
}

h4 {
    font-family: $font-family-poppins;
    font-weight: 600;
}

h5 {
    font-family: $font-family-poppins;
    font-weight: 600;
}

h6 {
    font-family: $font-family-poppins;
    font-weight: 600;
}

p {
    font-family: $font-family-poppins;
    font-weight: 400;
}

strong,
b {
    font-family: $font-family-poppins;
    font-weight: 600;
}
