.home-page-header-view,
.view-taxonomy-term,
.view-related-blogs {
    padding: 0 10px;

    .column-link {
        color: $c-black;

        &:hover,
        &:focus,
        &:active {
            color: $c-black;
        }
    }

    .content-wrapper {
        margin: 10px 0;
    }

    .sub-heading {
        font-family: $font-family-poppins;
        font-size: 1.8rem;
        margin-bottom: 10px;
        font-weight: 600;
        color: $c-black;
    }

    h3 {
        font-family: $font-family-pt-serif;
        font-size: 2.8rem;
        margin-bottom: 25px;
        color: $c-black;
        font-weight: 700;
    }

    .col-md-4 {
        min-height: 600px;
    }

    .col-md-3 {

        min-height: 420px;

        h3 {
            font-size: 2.2rem;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .js-pager__items {
        margin-top: 30px;
        text-align: center;
        display: inline-block;
        width: 100%;

        .button {
            background: $c-black;
            color: $c-white;
            padding: 15px 40px;
            text-decoration: none;
            display: inline-block;
        }
    }
}

.view-taxonomy-term {
    .col-md-3 {
        min-height: 475px;
    }
}

.view-related-blogs {
    margin: 30px 0;
    display: inline-block;
    width: 100%;

    .col-md-3 {
        min-height: 475px;
    }
}
