header {

    margin-bottom: 50px;

    .site-branding {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        max-width: 600px;
    }

    .region-header {
        display: flex;
        justify-content: space-between;
    }
}
